@page "/"

<div class="monitor-container">
    <div class="header">
        <h3>Smart Power Monitor</h3>
        <button class="btn btn-primary" @onclick="Calibrate" style="margin-left: auto; margin-right: 10px;">Calibrate</button>
        <div class="status-chip @(_status.ToLower())">
            @_status
        </div>
    </div>

    <div class="svg-wrapper">
        <div class="monitor-container" style="background: #fff; border: 1px solid #ccc">
            <svg viewBox="0 0 5000 240" preserveAspectRatio="none" style="width:100%; height:240px; background-color:aliceblue">
                <line x1="0" y1="120" x2="5000" y2="120" stroke="silver" stroke-width="1" />

                <polyline points="@_pointsCrn" fill="none" stroke="blue" stroke-width="1.5" />
            </svg>
        </div>
    </div>
    <br />

    <div class="svg-wrapper">
        <div class="monitor-container" style="background: #fff; border: 1px solid #ccc">
            <svg viewBox="0 0 5000 240" preserveAspectRatio="none" style="width:100%; height:240px; background-color:cornsilk">
                <line x1="0" y1="120" x2="5000" y2="120" stroke="silver" stroke-width="1" />

                <polyline points="@_pointsRms" fill="none" stroke="red" stroke-width="1.5" />
            </svg>
        </div>
    </div>

    <div class="footer-info">
        <span>Device: 192.168.100.33</span>
        <span>Resolution: 200μs/Sample</span>
    </div>
</div>